<h1><%= t('titles.incidents')%></h1>

<table class="table table-striped">
    <thead>
        <th><%=t('activerecord.attributes.incident.title')%></th>
        <th><%=t('activerecord.attributes.incident.description')%></th>
        <th><%=t('titles.actions')%></th>
    </thead>

    <tbody>
        <% @incidents.each do |incident| %>
        <tr>
            <td><%= incident.title %></td>
            <td><%= incident.description %></td>
            <td>
                <%= link_to incident do %>
                    <i class='icon-eye-open'></i>
                <% end %>

                <%= link_to edit_incident_path(incident) do %>
                    <i class='icon-pencil'></i>
                <% end %>

                <%= link_to incident, method: :delete, data: { confirm: t('messages.are_you_sure') } do %>
                    <i class='icon-trash'></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to t('incidents.actions.new'), new_incident_path %>
