<h1><%= t('titles.incidents')%></h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th><%=t('activerecord.attributes.incident.id')%></th>
            <th><%=t('activerecord.attributes.incident.title')%></th>
            <th><%=t('labels.incidents.requester')%></th>
            <th><%=t('labels.incidents.creator')%></th>
            <th><%=t('activerecord.attributes.incident.created_at')%></th>
            <th><%=t('titles.actions')%></th>
        </tr>
    </thead>

    <tbody>
        <% @incidents.each do |incident| %>
        <tr>
            <td><%= incident.id %></td>
            <td><%= incident.title %></td>
            <td><%= incident.requester.user_name %></td>
            <td><%= incident.creator.user_name %></td>
            <td><%= !incident.categories.blank? ? "#{incident.categories.first.name}" : ""%></td>
            <td><%= l(incident.created_at, :format => :long_ordinal)%></td>
            <td>    
                <%= link_to incident do %>
                    <i class='icon-eye-open'></i>
                <% end %>

                <%= link_to edit_incident_path(incident) do %>
                    <i class='icon-pencil'></i>
                <% end %>

                <%= link_to incident, method: :delete, data: { confirm: t('messages.are_you_sure') } do %>
                    <i class='icon-trash'></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to t('incidents.actions.new'), new_incident_path %>
