<h2><%= "#{t('activerecord.models.incident')}: #{@incident.id}"%></h2>
<table class="table table-striped">
    <tbody>
        <tr>
            <th style="width:200px;"><%=t('activerecord.attributes.incident.title')%></th>
            <td><%= @incident.title %></td>
        </tr>

        <tr>
            <th><%=t('activerecord.attributes.incident.description')%></th>
            <td><%= @incident.description %></td>
        </tr>

        <tr>
            <th><%=t('activerecord.attributes.incident.status_id')%></th>
            <td><%= @incident.incident_status.name %></td>
        </tr>

        <tr>
            <th><%=t('labels.incidents.assigned')%></th>
            <td><%=@assigned.blank? ? "" : "#{@assigned.fullname} (#{@assigned.user_name})"%></td>
        </tr>

        <tr>
            <th><%=t('labels.incidents.requester')%></th>
            <td><%=@requester.blank? ? "" : "#{@requester.fullname} (#{@requester.user_name})"%></td>
        </tr>

        <tr>
            <th><%=t('labels.incidents.creator')%></th>
            <td><%=@creator.blank? ? "" : "#{@creator.fullname} (#{@creator.user_name})"%></td>
        </tr>

        <tr>
            <th><%=t('activerecord.attributes.incident.created_at')%></th>
            <td><%= l(@incident.created_at, :format => :long_ordinal)%></td>
        </tr>
    </tbody>
</table>

<%= link_to t('actions.edit'), edit_incident_path(@incident) %> |
<%= link_to t('actions.back'), incidents_path %>
