<h2><%= @user.fullname%></h2>
<table class="table table-striped">
    <tbody>
        <tr>
            <th style="width:200px;"><%=t('labels.users.user_name')%></th>
            <td><%= @user.user_name %></td>
        </tr>

        <tr>
            <th><%=t('activerecord.attributes.user.email')%></th>
            <td><%= @user.email %></td>
        </tr>

        <tr>
            <th><%=t('activerecord.attributes.user.role')%></th>
            <td><%= @user.role %></td>
        </tr>
    </tbody>
</table>

<%= link_to t('actions.edit'), edit_user_path(@user) %> |
<%= link_to t('actions.back'), users_path %>
