<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
    	<%= f.input :name %>
    	<%= f.input :description, :as => :text, :input_html => {:rows => 5}%>
  	</div>

  	<div class="form-actions">
       	<%= f.button    :submit, 
                        (action_name == 'new' || action_name == 'create') ? t('actions.new') : t('actions.edit'),
                        class: "btn btn-info"%>     
    </div>
<% end %>
