<h1><%= t('titles.categories')%></h1>

<table class="table table-striped">
    <thead>
        <th><%=t('activerecord.attributes.category.name')%></th>
        <th><%=t('activerecord.attributes.category.description')%></th>
        <th><%=t('titles.actions')%></th>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
                <%= link_to category do %>
                    <i class='icon-eye-open'></i>
                <% end %>

                <%= link_to edit_category_path(category) do %>
                    <i class='icon-pencil'></i>
                <% end %>

                <%= link_to category, method: :delete, data: { confirm: t('messages.are_you_sure') } do %>
                    <i class='icon-trash'></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to t('categories.actions.new'), new_category_path %>
