<%= simple_form_for(@solution, html: {class: "form-horizontal well"}) do |f| %>
  	<%= f.error_notification %>
  	<%=f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  	<div class="form-inputs">
   		<%= f.input :name %>
    	<%= f.input :description, :as => :text, :input_html => {:rows => 5}%>
  	</div>

  	<div class="form-actions">
       <%= f.button    :submit, 
                        (action_name == 'new' || action_name == 'create') ? t('actions.new') : t('actions.edit'),
                        class: "btn btn-info"%>     
    </div>
<% end %>
